<div class="container-fluid">
  <div class="row">
    <div class="d-flex flex-column jumbotron col-md-5 col-lg-3 left-panel">
      <h3 class="mb-5">Game Details</h3>
      <div class="mb-5">
        <h5 class="mb-3">Bible Book</h5>
        <div>{{ book }}</div>
      </div>
      <div class="mb-5">
        <h5 class="mb-3">Percentage</h5>
        <div *ngIf="totalQuestions === 0; else nonZeroTotalQuestions"><em>You haven't answered any questions yet.</em></div>
        <ng-template #nonZeroTotalQuestions>
          <div>{{ ((correctAnswers / totalQuestions) * 100) | number : '1.2-2' }}%</div>
        </ng-template>
      </div>
      <div class="mb-5">
        <h5 class="mb-3">Current Streak</h5>
        <div *ngIf="currentStreak === 0; else nonZeroCurrentStreak">0</div>
        <ng-template #nonZeroCurrentStreak>
          <div>{{currentStreak}}</div>
        </ng-template>
      </div>
      <div class="mb-5">
          <h5 class="mb-3">Longest Streak</h5>
          <div *ngIf="longestStreak === 0; else nonZeroLongestStreak">0</div>
          <ng-template #nonZeroLongestStreak>
            <div>{{longestStreak}}</div>
          </ng-template>
        </div>
      <div class="mt-auto">
        <button class="btn btn-danger col" (click)="resetGameStats()">Reset Game Statistics</button>
      </div>
    </div>
    <div class="col-md-7 col-lg-9 pl-4">
      <hr class="mb-4">
      <div class="d-flex justify-content-between">
        <h4>Attempt 1: 
          <i class="fa fa-circle-o fa-lg" *ngIf="attemptOne == 0"></i>
          <i class="fa fa-times-circle fa-lg text-danger" *ngIf="attemptOne == 1"></i>
          <i class="fa fa-check-circle fa-lg text-success" *ngIf="attemptOne == 2"></i>
        </h4>
        <h4>Attempt 2: 
          <i class="fa fa-circle-o fa-lg" *ngIf="attemptTwo == 0"></i>
          <i class="fa fa-times-circle fa-lg text-danger" *ngIf="attemptTwo == 1"></i>
          <i class="fa fa-check-circle fa-lg text-success" *ngIf="attemptTwo == 2"></i>
        </h4>
        <h4>Attempt 3: 
          <i class="fa fa-circle-o fa-lg" *ngIf="attemptThree == 0"></i>
          <i class="fa fa-times-circle fa-lg text-danger" *ngIf="attemptThree == 1"></i>
          <i class="fa fa-check-circle fa-lg text-success" *ngIf="attemptThree == 2"></i>
        </h4>
      </div>
      <hr class="mb-4">
      <div class="alert alert-danger" role="alert" *ngIf="showCorrectChapterAlert">
        <strong>This verse was from chapter {{ chapter }}.</strong>
      </div>
      <div class="mb-5">
        <label class="mb-2"><strong>Here's a random verse from {{ book }}:</strong></label>
        <h5>{{ verse }}</h5>
      </div>
      <div class="mb-3" *ngIf="nonAttemptsCorrect() && !noMoreAttempts">
        <label class="mb-2" *ngIf="attemptOne == 0; else nonZeroAttemptNumber"><strong>What chapter is this verse found in?</strong></label>
        <ng-template #nonZeroAttemptNumber>
          <div class="mb-3">
            <label class="mb-2"><strong>Sorry, that's incorrect. Try again!</strong></label>
            <div>So far, you have guessed: {{ incorrectGuesses.join(', ') }}</div>
          </div>
        </ng-template>
      </div>
      <div [hidden]="!(nonAttemptsCorrect() && !noMoreAttempts)">
        <input #attempt type="text"
          class="form-control col-lg-3 col-md-6 col-sm-3 mb-2"
          [(ngModel)]="attemptInput"
          (keyup.enter)="submit()"
          autofocus>
        <button (click)="submit()"
          class="btn btn-primary btn-block col-lg-3 col-md-6 col-sm-3"
          [disabled]="attemptInput === ''">
          Submit
        </button>
      </div>
      <div class="mb-4">
        <div *ngIf="!nonAttemptsCorrect()">
          <label class="mb-1"><strong>That's correct!</strong></label>
          <div class="mb-3">This verse is in {{ book }} {{ chapter }}</div>
          <button class="btn btn-success btn-block col-lg-4 col-md-8 col-sm-6"
            (click)="getRandomVerse()">
            Get Another Random Verse
          </button>
        </div>
        <div *ngIf="noMoreAttempts">
          <div class="mt-3"><strong>You've used all 3 attempts. What would you like to do next?</strong></div>
          <div class="mt-2 mb-3">You guessed: {{ incorrectGuesses.join(', ') }}</div>
          <button class="btn btn-warning btn-block col-lg-4 col-md-8 col-sm-6"
            (click)="showCorrectChapter()"
            *ngIf="showCorrectChapterButton">
            Show Correct Chapter Number
          </button>
          <button class="btn btn-danger btn-block col-lg-4 col-md-8 col-sm-6"
            (click)="getRandomVerse()">
            Get Another Random Verse
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

