<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" routerLink="">Bible Learning</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <!-- <li class="nav-item active">
        <a class="nav-link" routerLink="/dashboard">Dashboard</a>
      </li> -->
    </ul>
    <ul class="navbar-nav my-2 my-lg-0">
      <span class="nav-item" *ngIf="(authService.user$ | async)?.displayName">
        <span class="nav-link non-clickable">Welcome, {{(authService.user$ | async)?.displayName}}</span>
      </span>
      <li class="nav-item">
        <a class="nav-link" (click)="logout()">Log Out</a>
      </li>
    </ul>
  </div>
</nav>

<main class="py-3">
  <div class="container-fluid">
    <router-outlet></router-outlet>
  </div>
</main>