<div class="container-fluid">
  <div class="row">
    <!-- Left Panel -->
    <div class="d-flex flex-column jumbotron col-md-4 col-lg-3 left-panel">
      <h3 class="mb-5">Game Settings</h3>
      <div class="mb-5">
        <h5 class="mb-3">Game Type</h5>
        <div *ngIf="!gameType">You haven't selected a game type yet.</div>
        <div *ngIf="gameType">
          You have selected: 
          <div>{{this.gameType}}</div>
        </div>
      </div>
      <div class="mb-5">
        <h5 class="mb-3">Old or New?</h5>
        <div *ngIf="!oldOrNew">You haven't selected Old or New yet.</div>
      </div>
      <div class="mb-5">
        <h5 class="mb-3">Book</h5>
        <div *ngIf="!bibleBook">You haven't selected a book of the Bible yet.</div>
      </div>
      <div class="mt-auto">
        <button class="btn btn-lg btn-primary col mb-3" [disabled]="!gameType || !bibleBook || !oldOrNew">Play</button>
        <button class="btn btn-lg btn-danger col" (click)="reset()">Reset</button>
      </div>
    </div>
    <!-- Right Panel -->
    <div class="col-md-8 col-lg-9 pl-4">
      <!-- Game Type -->
      <div *ngIf="!gameType" class="scrollable">
        <h4 class="mb-4">Game Types</h4>
        <div class="row">
          <div class="col-lg-6 mb-3" *ngFor="let gameType of gameTypes">
            <div class="card">
              <div class="card-block">
                <h5 class="card-title">{{gameType.type}}</h5>
                <p class="card-text">{{gameType.description}}</p>
                <button class="btn btn-primary" (click)="setGameType(gameType.id)">Select</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Old Or New -->
      <!-- Book of the Bible: OT -->
      <!-- Book of the Bible: NT -->
    </div>
  </div>
</div>
